<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt officia nam assumenda optio enim suscipit, quaerat, minima, cum itaque odit nostrum praesentium ratione molestias accusantium voluptas architecto non repellendus doloremque?
    </p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <% if movie.poster.attached? %>
        <%= link_to (image_tag url_for(movie.poster), width: 400, height: 600, class: 'image'), movie %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
